{% extends 'base.html' %} {% block title %} About {% endblock title %} {% block body %}

<div class="container-fluid px-0">
    <img src="/static/img/back.jpg" class="d-block w-100 " width="100%" height="700" alt="...">
</div>
<div class="container">
    <div class="row mb-2" style="position: absolute;top: 127px;color: aliceblue;">
        <div class="card" style="width: 22rem;">
            <img src="/static/img/admin1.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: black;">
                <strong class="d-inline-block mb-2 text-primary">Mr. Shovit Roy</strong>
                <h3 class="mb-0">Certified Ethical Hacker </h3>
                <div class="mb-1 text-muted">Nov 20</div>
                
                <a href="https://github.com/Shovit23/" class="stretched-link">Github Profile</a>

            </div>
        </div>
    </div>
</div>
{% endblock body %}