{% extends 'base.html' %} {% block title %} Security Courses {% endblock title %} {% block body %}

<div class="album py-3 bg-light">
    <div class="container">
        <h1 class="my2 text-center text-capitalize " style="color: whitesmoke; background-color: darkslategrey; border-radius: 20px; font-family: 'Times New Roman', Times, serif;">Select from the range of Courses</h1>

        <div class="row py-5">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/hacking1.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text ">Learn Ethical Hacking From Scratch</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                               
                                
                                 <a href="https://coursedrive.org/learn-ethical-hacking-from-scratch-updated/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/dark.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">The Dark Web, Anonymity, Privacy </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                
                                <a href="https://coursedrive.org/the-ultimate-dark-web-anonymity-privacy-security-course/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/and.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Learn Hacking Using Android From Scratch</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                
                                <a href="https://coursedrive.org/learn-hacking-using-android-from-scratch-updated/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/net.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Advanced Network Hacking </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://coursedrive.org/network-hacking-continued-intermediate-to-advanced/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/social.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Learn Social Engineering From Scratch</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://coursedrive.org/learn-social-engineering-from-scratch/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/ana.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Cyber Security : Anonymous Browsing!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://coursedrive.org/the-complete-cyber-security-course-anonymous-browsing/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/end.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Cyber Security : End Point Protection!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://coursedrive.org/the-complete-cyber-security-course-end-point-protection/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/meta.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Metasploit: Exploit & Post Exploit</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://coursedrive.org/ethical-hacking-with-metasploit-exploit-post-exploit/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/andro.jpg" class="d-block w-100 " width="100%" height="225" alt="...">
                    <div class="card-body">
                        <p class="card-text">Android Malware Analysis</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://coursedrive.org/android-malware-analysis-from-zero-to-hero/"><button type="button" class="btn btn-outline-primary">Download</button></a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}